* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.max-width-wrapper {
  padding: 32px 0px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  min-height: 100%;
  border-top: 8px solid hsl(0deg, 0%, 30%);
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 24px;
}

.indented-heading {
  width: fit-content;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px;
  margin-top: -16px;
  margin-left: -32px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

@media (max-width: 300px) {
}

@media (max-width: 400px) {

}
